

@media (max-width: 1199px) {
    .start__row__left .m-shape {
        right: -190px;
    } 

    .bring__row {
        --bs-gutter-x: 40px;
    }

    .members_row {
        grid-gap: 40px;
    }


    .single-faq__title {
        padding: 20px 25px;
        gap: 25px;
    }
    .single-faq__body__inner {
        padding: 0 80px 40px 140px;
    }


    .elected-member {
        padding: 35px 40px 28px 40px;
    }
}


@media (max-width: 991px) {
    .header__logo {
        width: 120px;
        padding: 8px 4px 10px 7px;
        border-radius: 0 0 5px 5px;
    }

    .hero-section {
        padding: 150px 0;
    }

    .start__row__left {
        display: none;
    }
    .start__row__right{
        display: flex;
        justify-content: center;
    }
    

    .bring__row {
        max-width: 320px;
        --bs-gutter-x: 75px;
    }


    .members_row {
        grid-template-columns: repeat(3,1fr);
    }

    .footer-section__inner {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
}


@media (max-width: 768px) {
    .hero__box .h1 {
        font-size: 30px;
        margin: 0 0 25px;
    }
    .hero__box {
        max-width: 565px;
        padding: 34px 20px 25px;
        border-radius: 7px;
        border-width: 2px;
    }

    .hero-section {
        padding: 110px 0 70px;
    }

    .h2 {
        font-size: 25px;
    }
    .start__row__right .start__auth {
        font-size: 12px;
        margin-left: 40px;
        padding-left: 9px;
        border-radius: 4px;
    }
    .start__row__right .h2 {
        margin-bottom: 40px;
    }
    .start__row__right {
        padding: 55px 25px 23px;
    }


    .bring-section {
        padding: 50px 0;
    }
    .bring-column h4 {
        font-size: 17px;
    }
    .bring-column .icon {
        margin-top: 15px;
        width: 100px;
        height: 100px;
    }
    .bring__row {
        --bs-gutter-x: 49px;
    }

    .members-section {
        padding: 60px 0 60px;
    }
    .members_row {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
    }


    .title-hero__inner .h1 {
        font-size: 30px;
    }
    .title-hero-section {
        padding: 120px 0 30px;
    }
    .txt-section {
        padding: 35px 0;
    }
    .txt-section__content p {
        margin-bottom: 15px;
    }

    .faq-section {
        padding: 40px 0 50px;
    }
    .single-faq__title .icon {
        width: 40px;
        height: 40px;
    }
    .single-faq__title h3 {
        font-size: 16px;
    }
    .single-faq__title .ind {
        font-size: 16px;
    }
    .single-faq__title {
        padding: 10px 3px;
        gap: 11px;
    }
    .single-faq__body__inner {
        padding: 0 0px 30px 56px;
    }
    .single-faq__body__inner p {
        font-size: 15px;
    }
    .faq-section__title {
        margin: 0 0 30px;
    }


    .elected-section {
        padding: 40px 0 60px;
    }
    .elected-section__title h4 {
        font-size: 18px;
    }
    .elected-section__title h5 {
        font-size: 16px;
        margin: 0 0 25px;
    }
    .elected-section__title {
        margin-bottom: 30px;
    }
    .elected-member {
        display: block;
    }
    .elected-member__image {
        width: 74px;
        float: left;
        margin-right: 14px;
        margin-bottom: 5px;
    }
    .elected-member__tc__ttl h3 {
        font-size: 20px;
        margin: 0 0 3px;
    }
    .elected-member__tc__ttl .bdg {
        font-size: 13px;
        border-radius: 3px;
        padding: 2px 9px 3px;
    }
    .elected-member {
        padding: 25px 20px;
    }
    .elected-member__tc {
        padding: 3px 0;
    }
    .elected-member__tc__ttl {
        margin: 0 0 12px;
    }
}


@media (max-width: 575px) {
 
}


@media (max-width: 390px) {
 
}
